<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/media/hello_world.jpg" width="200" class="img-logo" />
            </a>
        </div>
    </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container-md">
        <div class="row" style="margin: 0 auto;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Nhập học trở lại - Bình thường</h1>
                <form role="form">
                    <h2>Thông tin sinh viên</h2>
                    <div class="form-group ">
                        <label class="control-label" for="name">Ngày đề nghị</label>
                        <input disabled type="datet" class="form-control" id="createdAt" name="createdAt" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="studentCode">Mã sinh viên</label>
                        <input class="form-control" onchange="studentService_getStudentInfo(this.value)" type="text"
                            name="studentCode" id="studentCode" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="fullname">Họ và tên</label>
                        <input class="form-control" type="text" name="fullname" id="fullname" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Chuyên ngành</label>
                        <select class="form-control" id="course" name="course" onchange="studentService_onChangeCourse(this.value)">
                        </select>
                        <input class="form-control" type="hidden" name="courseFee" id="courseFee" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="dropout">Quyết định thôi học</label>
                        <input class="form-control" type="text" name="dropout" id="dropout" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Kỳ thứ thôi học</label>
                        <select class="form-control" id="dropoutAtSemester" name="dropoutAtSemester">
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="rejoinAcademicYear">Khóa nhập học</label>
                        <input class="form-control" type="text" name="rejoinAcademicYear" id="rejoinAcademicYear" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="mobile">Số điện thoại</label>
                        <input class="form-control" type="text" name="mobile" id="mobile" />
                    </div>

                    <h2>Thông tin tư vấn</h2>
                    <div class="form-group ">
                        <label class="control-label" for="campaign_display">Thời gian nhập học</label>
                        <input class="form-control" readonly type="text" name="campaign_display"
                            id="campaign_display" />
                        <input class="form-control" type="hidden" name="campaign" id="campaign" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="rejoinAtSemester">Kỳ thứ sinh viên quay lại</label>
                        <select class="form-control" id="rejoinAtSemester" name="rejoinAtSemester">
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="rejoinStudentStatus">Trạng thái sinh viên quay lại</label>
                        <select class="form-control" id="rejoinStudentStatus" name="rejoinStudentStatus"
                            onchange="studentService_onChangeRejoinStudentStatus(this.value)">
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="english">Level Tiếng Anh học đi
                            <span class="btn btn-link" onclick="initModal(1)" data-target="#myModal"
                                data-toggle="modal">Chọn</span>
                        </label>
                        <p id="english"></p>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="retestSubjects">Môn thi lại
                            <span class="btn btn-link" onclick="initModal(2)" data-target="#myModal"
                                data-toggle="modal">Chọn</span>
                        </label>
                        <p id="retestSubjects"></p>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="retakeSubjects">Môn học lại
                            <span class="btn btn-link" onclick="initModal(3)" data-target="#myModal"
                                data-toggle="modal">Chọn</span>
                        </label>
                        <p id="retakeSubjects"></p>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="newSubjects">Môn bổ sung
                            <span class="btn btn-link" onclick="initModal(4)" data-target="#myModal"
                                data-toggle="modal">Chọn</span>
                        </label>
                        <p id="newSubjects"></p>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="finishedSubjects">Môn miễn giảm
                            <span class="btn btn-link" onclick="initModal(5)" data-target="#myModal"
                                data-toggle="modal">Chọn</span>
                        </label>
                        <p id="finishedSubjects"></p>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="exchangeSubjects">Môn chuyển đổi
                            <span class="btn btn-link" onclick="initModal(6)" data-target="#myModal"
                                data-toggle="modal">Chọn</span>
                        </label>
                        <p id="exchangeSubjects"></p>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="notes">Ghi chú</label>
                        <textarea class="form-control" type="text" name="notes" id="notes"></textarea>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Tổng phí cần đóng
                            <span class="btn btn-link" id="totalFee" name="totalFee"></span>
                        </label>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="feeDeadline">Hạn đóng</label>
                        <input type="date" class="form-control" id="feeDeadline" name="feeDeadline" />
                    </div>
                    <div class="form-group modal-footer">
                        <a href="/dich-vu-sinh-vien/nhap-hoc-tro-lai" class="btn btn-default">Quay lại</a>
                        <button id="buttonSave" onclick="studentService_onSaveRejoinPaper()" type="button" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>



<!-- CONTENT-WRAPPER SECTION END-->
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 2022 Ít nhưng dài lâu
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog" style="overflow-y: scroll;">
        <div class="modal-content" id="modal-content">

        </div>
    </div>
</div>


<script src="/js/rejoin.js"></script>
<script>
    let _courses = {{{ _courses }}};
    let _oneCampaign = {{{ _oneCampaign }}};
    let _type = {{{ _type }}};
    let _rejoinStudentStatus = {{{ _rejoinStudentStatus }}};
    let _englishProps = {{{ _englishProps }}};
    let _subjects = {{{ _subjects }}};



    studentService_initCreatedAt();
    studentService_initCourses(_courses);
    studentService_initSemesters(rejoinPaper.dropoutAtSemester, 'dropoutAtSemester');
    studentService_initSemesters(nextPartFirst.rejoinAtSemester, 'rejoinAtSemester');
    studentService_initCampaign(_oneCampaign);
    studentService_initRejoinStudentStatus(_rejoinStudentStatus, nextPartFirst.rejoinStudentStatus);

    studentService_calculateTotalFee();

    const initModal = (type) => {
        switch (type) {
            case 1:
                studentService_initEnglish(_englishProps, nextPartFirst.english.level, nextPartFirst.english.fee);
                break;
            case 2:
                studentService_initRetestSubjects(_subjects);
                break;
            case 3:
                studentService_initRetakeSubjects(_subjects);
                break;
            case 4:
                studentService_initNewSubjects(_subjects);
                break;
            case 5:
                studentService_initFinishedSubjects(_subjects);
                break;
            case 6:
                studentService_initExchangeSubjects(_subjects);
                break;
        }
    }






</script>